<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "Ping Pong Galaxy Android"
    versionCode = "10"
    version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Ping Pong Galaxy</name>

    <description>
        Ein Ping Pong Spiel welches euch bis ins Weltall begleitet.
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        RonaldPiDonald
    </author>

    <icon src='icon.png' />

</widget>